@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>我镜头中的大美新疆，好想再去看看她_力力猫_新浪博客</title>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="我镜头中的大美新疆，好想再去看看她_力力猫_新浪博客,力力猫,新疆,喀纳斯,秋色,自然摄影,图片" />
    <meta name="description" content="我镜头中的大美新疆，好想再去看看她_力力猫_新浪博客,力力猫," />

    <link href="~/css/ArticleDetails/article.css" rel="stylesheet" />
    <link href="~/css/ArticleDetails/common.css" rel="stylesheet" />
    <link href="~/css/ArticleDetails/blog/blog.css" rel="stylesheet" />
    <link href="~/css/ArticleDetails/blog.css" rel="stylesheet" />
    <link href="~/css/ArticleDetails/t.css" rel="stylesheet" />

    <style id="positionstyle" type="text/css">
        .sinabloghead .blogtoparea {
            left: 95px;
            top: 82.4531px;
        }

        .sinabloghead .blognav {
            left: 65px;
            top: 146.297px;
        }
    </style>
    <style id="bgtyle" type="text/css">
    </style>
    <style id="headtyle" type="text/css">
    </style>
    <style id="navtyle" type="text/css">
    </style>
</head>
<body>
    <!--$sinatopbar-->
    <div style="z-index:512;" class="nsinatopbar">
        <div style="position:absolute;left:0;top:0;" id="trayFlashConnetion"></div>
        <div class="ntopbar_main">
            <div class="ntopbar_floatL">
                <div class="ntopbar_search" id="traySearchBar"></div>
                <div class="ntopbar_ad" id="loginBarActivity" style="display:none;"></div>
            </div>
            <div class="ntopbar_loading"><img src="http://simg.sinajs.cn/blog7style/images/common/loading.gif">加载中…</div>
        </div>
    </div>
    <!--$end sinatopbar-->

    <div class="sinabloga" id="sinabloga">
        <div id="sinablogb" class="sinablogb">


            <div id="sinablogHead" class="sinabloghead">
                <div style="display: none;" id="headflash" class="headflash"></div>
                <div id="headarea" class="headarea">
                    <div id="blogTitle" class="blogtoparea">
                        <h1 id="blogname" class="blogtitle"><a href="#"><span id="blognamespan">加载中...</span></a></h1>
                        <div class="bloglink">
                            <a href="#" target="_blank">
                            </a>去哪儿网聪明旅行家  中国摄影师协会终身会员 头条文章作者
                        </div>

                        <div id="bloglink" class="bloglink">
                            <a onclick="return false;" class="CP_a_fuc" href="#" id="SubscribeNewRss">[<cite>订阅</cite>]</a><a class="CP_a_fuc" href="javascript:void(scope.pa_add.add('1752149411'));">[<cite>手机订阅</cite>]</a>
                        </div>
                    </div>
                    <div class="blognav" id="blognav">
                        <div id="blognavBg" class="blognavBg"></div> <div class="blognavInfo">
                            <span><a href="#">首页</a></span>
                            <span><a class="on" href="#">博文目录</a></span>
                            <!--<span><a href="">图片</a></span>-->
                            <span class="last"><a href="#">关于我</a></span>
                        </div>
                    </div>
                    <div class="autoskin" id="auto_skin">
                    </div>

                    <div class="adsarea">
                        <a href="#"><div id="template_clone_pic" class="pic"></div></a>
                        <div id="template_clone_link" class="link wdc_HInf"></div>
                        <div id="template_clone_other" class="other"></div>
                    </div>
                </div>
            </div>

            <!--主题内容开始 -->
            <div class="sinablogbody" id="sinablogbody">

                <!--第一列start-->
                <div id="column_1" class="SG_colW21 SG_colFirst">
                    <div class="SG_conn" id="module_901">
                        <div class="SG_connHead">
                            <span class="title" comp_title="个人资料">个人资料</span>
                            <span class="edit">
                            </span>
                        </div>
                        <div class="SG_connBody">
                            <div class="info">

                                <div class="info_img" id="comp_901_head">
                                    <img src="~/images/180.jpg" id="comp_901_head_image" width="180" height="180" alt="力力猫" title="力力猫" />
                                </div>

                                <div class="info_txt">
                                    <div class="info_nm">
                                        <img id="comp_901_online_icon" style="display:none;" class="SG_icon SG_icon1" src="http://simg.sinajs.cn/blog7style/images/common/sg_trans.gif" width="15" height="15" align="absmiddle" />
                                        <span class="SG_txtb"><strong id="ownernick">力力猫</strong></span>
                                        <div class="clearit"></div>
                                    </div>
                                    <div class="info_btn1">
                                        <div class="clearit"></div>
                                    </div>
                                    <div class="SG_j_linedot"></div>        <div class="info_locate" id="info_locate_id">
                                        <div class="SG_j_linedot"></div>
                                        <div class="info_btn2">
                                            <p>
                                                <a href="javascript:void(0);" class="SG_aBtn " id="comp901_btn_invite"><cite>加好友</cite></a>
                                                <a href="javascript:void(0);" class="SG_aBtn" id="comp901_btn_sendpaper"><cite>发纸条</cite></a>
                                            </p>
                                            <p>
                                                <a href="#" class="SG_aBtn" id="comp901_btn_msninfo"><cite>写留言</cite></a>
                                                <a href="#" onclick="return false;" class="SG_aBtn" id="comp901_btn_follow"><cite onclick="Module.SeeState.add()">加关注</cite></a>
                                            </p>
                                            <div class="clearit"></div>
                                        </div>
                                        <div class="SG_j_linedot"></div>
                                    </div>

                                    <div class="clearit"></div>
                                </div>
                                <div class="clearit"></div>
                            </div>
                        </div>
                        <div class="SG_connFoot"></div>
                    </div>
                    <div class="SG_conn " id="module_909">
                        <div class="SG_connHead">
                            <span class="title" comp_title="博主被推荐的博文">博主被推荐的博文</span>
                            <span class="edit"></span>
                        </div>
                        <div class="SG_connBody">
                            <div class="pic_s1">
                                <a target="_blank" href="#">
                                </a>
                            </div>
                            <div class="cmtA_tip">
                                <a suda-uatrack="key=blog_btjblog&value=h_btjblog" target="_blank" href="#">力力猫</a>的这篇博文被推荐到<a suda-uatrack="key=blog_btjblog&value=h_btjblog" target="_blank" href="#">金文博客</a>
                            </div><div class="SG_j_linedot cmtA_line"></div>
                            <div class="cmtA_tit">此博主被推荐的博文：</div>
                            <ul class="onlylist cmtA_arti">
                                <li>
                                    <p>
                                        <span class="SG_dot"></span>
                                        <a suda-uatrack="key=blog_btjblog&value=h_btjblog" target="_blank" href="#">我镜头中的大美新疆，好想再…</a>
                                    </p>
                                    <div class="SG_txtc">
                                        <a suda-uatrack="key=blog_btjblog&value=h_btjblog" href="#" target="_blank">博客首页</a>
                                    </div>
                                </li>
                                <li>
                                    <p>
                                        <span class="SG_dot"></span>
                                        <a suda-uatrack="key=blog_btjblog&value=h_btjblog" target="_blank" href="#">我镜头中的大美新疆，好想再…</a>
                                    </p>
                                    <div class="SG_txtc">
                                        <a suda-uatrack="key=blog_btjblog&value=h_btjblog" href="#" target="_blank">博客首页</a>
                                    </div>
                                </li>
                                <li>
                                    <p>
                                        <span class="SG_dot"></span>
                                        <a suda-uatrack="key=blog_btjblog&value=h_btjblog" target="_blank" href="#">我镜头中的大美新疆，好想再…</a>
                                    </p>
                                    <div class="SG_txtc">
                                        <a suda-uatrack="key=blog_btjblog&value=h_btjblog" href="#" target="_blank">博客首页</a>
                                    </div>
                                </li>
                                <li>
                                    <p>
                                        <span class="SG_dot"></span>
                                        <a suda-uatrack="key=blog_btjblog&value=h_btjblog" target="_blank" href="#">我镜头中的大美新疆，好想再…</a>
                                    </p>
                                    <div class="SG_txtc">
                                        <a suda-uatrack="key=blog_btjblog&value=h_btjblog" href="#" target="_blank">博客首页</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="SG_connFoot"></div>
                    </div>
                    <div id="module_903" class="SG_conn ">
                        <div class="SG_connHead">
                            <span comp_title="相关博文" class="title">相关博文</span>
                            <span class="edit"> </span>
                        </div>
                        <div class="SG_connBody">
                            <div class="atcTitList relaList">
                                <ul class="">

                                    <li class="SG_j_linedot1" style="display:none;">
                                        <p id="atcTitLi_SLOT_41" class="atcTitCell_tit SG_dot" style="display:none">
                                        </p>
                                    </li>
                                    <li class="SG_j_linedot1" style="display:none;">
                                        <p id="atcTitLi_SLOT_42" class="atcTitCell_tit SG_dot" style="display:none">
                                        </p>
                                    </li>

                                </ul>
                                <div class="atcTit_more"><span class="SG_more"><a href="#" target="_blank">更多&gt;&gt;</a></span></div>
                            </div>
                        </div>
                        <div class="SG_connFoot"></div>
                    </div>
                    <div id="module_904_top_ad"></div>
                    <div class="SG_conn " id="module_904">
                        <div class="SG_connHead">
                            <span class="title">推荐博文</span>
                        </div>
                        <div class="SG_connBody ">
                            <div class="atcTitList relaList">
                                <ul class="">
                                </ul>
                                <div id="atcPicList">
                                </div>
                                <div class="atcTit_more"><span class="SG_more"><a target="_blank" href="#">查看更多</a>&gt;&gt;</span></div>
                            </div>
                        </div>
                        <div class="SG_connFoot"></div>
                    </div>
                </div>
                <!--第一列end-->
                <!--第二列start-->
                <div id="column_2" class="SG_colW73">
                    <div id="module_920" class="SG_conn">
                        <div class="SG_connHead">
                            <span comp_title="正文" class="title">正文</span>
                        </div>
                        <div class="SG_connBody">
                            <!--博文正文 begin -->
                            <div id="articlebody" class="artical" favMD5='{"686fada30102z350":"d1ffb7ded625ec3a712115b358daa88e"}'>
                                <div class="articalTitle">

                                    <span class="img1">
                                        <a href="#" target="_blank"><img class="SG_icon SG_icon107" src="http://simg.sinajs.cn/blog7style/images/common/sg_trans.gif" width="18" height="18" title="已推荐到博客首页，点击查看更多精彩内容" align="absmiddle" /></a>
                                    </span>
                                    <h2 id="t_686fada30102z350" class="titName SG_txta">我镜头中的大美新疆，好想再去看看她</h2>

                                    <span class="img2">
                                        <img width="15" height="15" align="absmiddle" title="此博文包含图片" src="http://simg.sinajs.cn/blog7style/images/common/sg_trans.gif" class="SG_icon SG_icon18" />
                                    </span>
                                    <span class="time SG_txtc">(2020-05-22 08:50:04)</span><div class="turnBoxzz"><a href="javascript:;" class="SG_aBtn SG_aBtn_ico SG_turn" action-type="reblog" action-data="{srcBlog:1, blogId:'686fada30102z350'}"><cite><img class="SG_icon SG_icon111" src="http://simg.sinajs.cn/blog7style/images/common/sg_trans.gif" width="15" height="15" align="absmiddle">转载<em class="arrow">▼</em></cite></a></div>
                                </div>
                                <div class="articalTag" id="sina_keyword_ad_area">
                                    <table>
                                        <tr>
                                            <td class="blog_tag">
                                                <script>
                                                    var $tag = '新疆,喀纳斯,秋色,自然摄影,图片';
                                                    var $tag_code = 'aaea36ecc2506c46ebbed0dfa0109e39';
                                                    var $r_quote_bligid = '686fada30102z350';
                                                    var $worldcup = '0';
                                                    var $worldcupball = '0';
                                                </script>
                                                <span class="SG_txtb">标签：</span>
                                                <h3><a href="#" target="_blank">新疆</a></h3>
                                                <h3><a href="#" target="_blank">喀纳斯</a></h3>
                                                <h3><a href="#" target="_blank">秋色</a></h3>
                                                <h3><a href="#" target="_blank">自然摄影</a></h3>
                                                <h3><a href="#" target="_blank">图片</a></h3>
                                            </td>
                                            <td class="blog_class">
                                                <span class="SG_txtb">分类：</span>
                                                <a target="_blank" href="#">挺进大西北</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <!-- 正文开始 -->
                                <div id="sina_keyword_ad_area2" class="articalContent   newfont_family">
                                    <div>
                                        <a HREF="#" TARGET="_blank">
                                            <img src="~/images/001UzQ6nzy7Do9ghhFf19&690.jpg" WIDTH="690" HEIGHT="460" NAME="image_operate_86631589869012455" ALT="我镜头中的大美新疆，好想再去看看她" TITLE="我镜头中的大美新疆，好想再去看看她" />
                                        </a>
                                    </div>
                                    <div STYLE="text-align: center;">
                                        &nbsp;<wbr>
                                        &nbsp;<wbr> &nbsp;<wbr> 禾木之晨
                                    </div>
                                    <div><br /></div>
                                    <div>
                                        &nbsp;<wbr> &nbsp;<wbr> &nbsp;<wbr>
                                        &nbsp;<wbr>由于疫情的原因，旅游市场境况大跌，人们封闭在自家的小区里，每天都靠着电视、网络过日子，即使现在情况好转，也没放开跨省旅游，在家呆的烦闷，回想起去新疆的日日夜夜，徜徉在美如画卷的广阔原野的美好心情，整理了几张照片养养眼，啥时候能解禁旅游市场，第一时间还去新疆，再去看看她美丽的容颜，享受人在仙境的感觉。
                                    </div>
                                    <div><br /></div>
                                    <div>
                                        <a HREF="#" TARGET="_blank">
                                            <img src="~/images/001UzQ6nzy7Do9ghhFf19&690.jpg" WIDTH="690" HEIGHT="460" NAME="image_operate_86631589869012455" ALT="我镜头中的大美新疆，好想再去看看她" TITLE="我镜头中的大美新疆，好想再去看看她" />
                                        </a>
                                    </div>
                                    <div STYLE="text-align: center;">
                                        &nbsp;<wbr>
                                        &nbsp;<wbr> &nbsp;<wbr> 禾木之晨
                                    </div>
                                    <div><br /></div>
                                    <div>
                                        &nbsp;<wbr> &nbsp;<wbr> &nbsp;<wbr>
                                        &nbsp;<wbr>由于疫情的原因，旅游市场境况大跌，人们封闭在自家的小区里，每天都靠着电视、网络过日子，即使现在情况好转，也没放开跨省旅游，在家呆的烦闷，回想起去新疆的日日夜夜，徜徉在美如画卷的广阔原野的美好心情，整理了几张照片养养眼，啥时候能解禁旅游市场，第一时间还去新疆，再去看看她美丽的容颜，享受人在仙境的感觉。
                                    </div>
                                    <div><br /></div>
                                    <br />
                                </div>
                                <!-- 正文结束 -->
                                <div id='share' class="shareUp nor">
                                    <div class="share SG_txtb clearfix">
                                        <span class="share-title">分享：</span>
                                        <div class="bshare-custom" style="display:inline;margin-left:5px;">
                                        </div>
                                    </div>
                                    <div class="clearit"></div>
                                </div>
                                <div class="clearit"></div>
                                <div class="blogzz_zzlist borderc" id="blog_quote" style="display:none">加载中，请稍候......</div>
                                <div class="articalfrontback SG_j_linedot1 clearfix" id="new_nextprev_686fada30102z350">
                                    <div><span class="SG_txtb">前一篇：</span><a href="#">京城梨园：惊艳撞色的花田交响曲</a></div>
                                </div>
                                <div class="clearit"></div>

                                <div id="loginFollow"></div>
                                <div class="allComm">
                                    <div class="allCommTit">
                                        <div class="SG_floatL">
                                            <strong>评论</strong>
                                            <span id="commAd_1" style="display:none;">
                                                <span style="margin-left:15px; width:220px; display:inline-block;"><a target="_blank" href="#">重要提示：警惕虚假中奖信息</a></span>
                                            </span>
                                        </div>
                                        <div class="SG_floatR"><a class="CP_a_fuc" href="#post">[<cite>发评论</cite>]</a></div>
                                    </div>
                                    <ul id="article_comment_list" class="SG_cmp_revert"><!-- 循环始 --><li>评论加载中，请稍候...</li><!-- 循环终  --></ul>
                                    <div class="clearit"></div>
                                    <div class="myCommPages SG_j_linedot1">
                                        <div class="SG_page" id="commentPaging" style="display:none;">
                                            <ul class="SG_pages">
                                            </ul>
                                        </div>
                                        <div class="clearit"></div>
                                    </div>
                                    <a name="post"></a>
                                    <div class="writeComm">
                                        <div class="allCommTit">
                                            <div class="SG_floatL">
                                                <strong>发评论</strong>
                                                <span></span>
                                            </div>
                                            <div class="SG_floatR"></div>
                                        </div>
                                        <div class="wrCommTit">
                                            <div class="SG_floatL" id="commentNick" style="display:none;"></div>
                                        </div>
                                        <div class="formTextarea">
                                            <div style="float:left;" id="commonComment">
                                                <iframe id="postCommentIframe" frameborder="0" style="border:1px solid #C7C7C7;
		height:158px;width:448px;maring-top:1px;background-color:white;" src="http://blog.sina.com.cn/main_v5/ria/blank2.html"></iframe>
                                                <textarea id="commentArea" tabindex="1" style="display:none;"></textarea>
                                            </div>
                                            <div id="mobileComment" style="float:left;display:none;">
                                                <textarea id="mbCommentTa" style="width:438px;height:150px;border:1px solid #C7C7C7;line-height:18px;padding:5px;"></textarea>
                                            </div>

                                            <div class="clearit"></div>
                                        </div>
                                        <div class="formLogin">
                                            <div class="SG_floatL">
                                                <p id="commentlogin" style="display:none;">
                                                    <span>登录名：</span><input type="text" style="width: 115px;" id="login_name" tabindex="2" />
                                                    <span>密码：</span><input type="password" style="width: 115px;" id="login_pass" tabindex="3" />
                                                    <a href="#" target="_blank">找回密码</a>
                                                    <a href="#" target="_blank">注册</a>	<input type="checkbox" id="login_remember" /><label for="login_remember" style="display:inline-block;" title="建议在网吧/公用电脑上取消该选项">记住登录状态</label>
                                                </p><p id="commentloginM" style="display:none;"><span>昵&nbsp;&nbsp;&nbsp;称：</span><input type="text" style="width: 115px;" id="comment_anonyous" value="新浪网友"/ tabindex="2" disabled></p>
                                                <p id="quote_comment_p">
                                                <p id="geetest-box"></p>
                                            </div>

                                            <span style="display: none; color: rgb(153, 153, 153); margin-left: 10px;" id="login_remember_caution"></span>

                                        </div>

                                    </div>
                                </div>
                                <div class="clearit"></div>

                                <div class="articalfrontback articalfrontback2 clearfix">
                                    <div class="SG_floatL"><span class="SG_txtb">&lt;&nbsp;前一篇</span><a href="#">京城梨园：惊艳撞色的花田交响曲</a></div>
                                </div>
                                <div class="clearit"></div>

                            </div>
                            <!--博文正文 end -->
                            <script type="text/javascript">
                                var voteid = "";
                            </script>

                        </div>
                        <div class="SG_connFoot"></div>
                    </div>
                </div>
                <!--第二列start-->
                <!--第三列start-->
                <div id="column_3" class="SG_colWnone"><div style="width:0px;height:0.1px;margin:0px;">&nbsp;&nbsp;</div></div>
                <!--第三列end-->


            </div>
            <!--主题内容结束 -->


            <div id="diggerFla" style="position:absolute;left:0px;top:0px;width:0px"></div>
            <div class="sinablogfooter" id="sinablogfooter" style="position:relative;">
                <p class="SG_linka">
                    <a href="#" target="_blank">广告服务</a> |
                    <a href="#" target="_blank">联系我们</a> |
                    <a href="#" target="_blank">招聘信息</a> |
                    <a href="#" target="_blank">网站律师</a> |
                    <a href="#" target="_blank">JinWen English</a> |
                    <a href="#" target="_blank">会员注册</a> |
                    <a href="#" target="_blank">产品答疑</a>
                </p>
                <p class="copyright SG_linka"> Copyright &copy; 1996 - 2018 JinWen Corporation,  All Rights Reserved</p>
                <p class="SG_linka"> 金文项目小组 版权所有</p>
            </div>
        </div>
    </div>
    <div id="swfbox"></div>
</body>


</html>
