
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>金文博客</title>
    <link href="~/css/index-aa23d5.css" rel="stylesheet" />
</head>
<body>
    <!-- 导航 -->
    <div class="nav" data-sudaclick=blog_nav>
        <div class="wrapper">
            <div class="logo">
                <a href="http://blog.sina.com.cn/lm/2018/"></a>
            </div>
            <ul class="nav-list">
                <li>
                    <a target="_blank" href="http://blog.sina.com.cn/lm/ent/">娱乐</a>
                </li>
                <li>
                    <a target="_blank" href="http://blog.sina.com.cn/lm/history/">文史</a>
                </li>
                <li>
                    <a target="_blank" href="http://blog.sina.com.cn/lm/stock/">股票</a>
                </li>
                <li>
                    <a target="_blank" href="http://blog.sina.com.cn/lm/edu/">教育</a>
                </li>
                <li>
                    <a target="_blank" href="http://blog.sina.com.cn/lm/sports/">体育</a>
                </li>
                <li>
                    <a target="_blank" href="http://blog.sina.com.cn/lm/eatblog.html">美食</a>
                </li>
                <li>
                    <a target="_blank" href="http://blog.sina.com.cn/lm/baby/">育儿</a>
                </li>
                <li>
                    <a target="_blank" href="http://blog.sina.com.cn/lm/astro/">星座</a>
                </li>

            </ul>


            <div class="search">
                <div class="row">
                    <div class="search-input">
                        <input id="search" type="text" placeholder="搜索内容" autocomplete="off">
                        <i suda-uatrack="key=2018_blog_index&value=blog_nav_search"></i>
                        <ul class="sub-input first-view-search">
                            <!-- 首屏热搜 -->
                        </ul>
                        <ul class="sub-input sec-view-search">
                            <!-- 用户检索联想 -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 导航结束 -->
    <!-- 主体内容 -->
    <div class="wrapper clearfix">
        <div class="blog-left">
            <!-- 每日精选 -->
            <div class="left-rec" data-sudaclick="blog_select">
                <div class="l-title-1">
                    <i class="l-line"></i>
                    <h3>每日精选</h3>
                    <i class="r-line"></i>
                </div>
                <ul>
                    <li>
                        <i></i>
                        <a target="_blank" href="http://blog.sina.com.cn/s/blog_8db3ce3d01030y6y.html?tj=1">国内楼市交易为何会乱象丛生</a>
                    </li>
                    <li>
                        <i></i>
                        <a target="_blank" href="http://blog.sina.com.cn/s/blog_8db3ce3d01030y6y.html?tj=1">国内楼市交易为何会乱象丛生</a>
                    </li>
                    <li>
                        <i></i>
                        <a target="_blank" href="http://blog.sina.com.cn/s/blog_8db3ce3d01030y6y.html?tj=1">国内楼市交易为何会乱象丛生</a>
                    </li>
                    <li>
                        <i></i>
                        <a target="_blank" href="http://blog.sina.com.cn/s/blog_8db3ce3d01030y6y.html?tj=1">国内楼市交易为何会乱象丛生</a>
                    </li>
                    <li>
                        <i></i>
                        <a target="_blank" href="http://blog.sina.com.cn/s/blog_8db3ce3d01030y6y.html?tj=1">国内楼市交易为何会乱象丛生</a>
                    </li>
                </ul>
            </div>
            <!-- 每日精选结束 -->
            <!-- 每周人气 -->
            <div class="week-hot-user" data-sudaclick="blog_weekhot">
                <div class="l-title-1">
                    <i class="l-line"></i>
                    <h3>每周人气排行</h3>
                    <i class="r-line"></i>
                </div>
                <ul>
                    <li>
                        <i class="top-bg">1</i>
                        <a href="http://blog.sina.com.cn/u/1300871220" target="_blank">
                            <img src="http://portrait5.sinaimg.cn/1300871220/blog/30" alt="徐小明" title="徐小明" />
                            <span>徐小明</span>
                        </a>
                    </li>
                    <li>
                        <i class="top-bg">1</i>
                        <a href="http://blog.sina.com.cn/u/1300871220" target="_blank">
                            <img src="http://portrait5.sinaimg.cn/1300871220/blog/30" alt="徐小明" title="徐小明" />
                            <span>徐小明</span>
                        </a>
                    </li>
                    <li>
                        <i class="top-bg">1</i>
                        <a href="http://blog.sina.com.cn/u/1300871220" target="_blank">
                            <img src="http://portrait5.sinaimg.cn/1300871220/blog/30" alt="徐小明" title="徐小明" />
                            <span>徐小明</span>
                        </a>
                    </li>
                    <li>
                        <i class="top-bg">1</i>
                        <a href="http://blog.sina.com.cn/u/1300871220" target="_blank">
                            <img src="http://portrait5.sinaimg.cn/1300871220/blog/30" alt="徐小明" title="徐小明" />
                            <span>徐小明</span>
                        </a>
                    </li>
                    <li>
                        <i class="top-bg">1</i>
                        <a href="http://blog.sina.com.cn/u/1300871220" target="_blank">
                            <img src="http://portrait5.sinaimg.cn/1300871220/blog/30" alt="徐小明" title="徐小明" />
                            <span>徐小明</span>
                        </a>
                    </li>

                </ul>
            </div>
            <!-- 每周人气结束 -->
            <!-- 今日热文 -->
            <div class="day-hot-rank" data-sudaclick="blog_todayhot">
                <div class="l-title-1">
                    <i class="l-line"></i>
                    <h3>今日热文排行</h3>
                    <i class="r-line"></i>
                </div>
                <ul class="art-list">
                    <li>
                        <i class="top-bg">1</i>
                        <a href="http://blog.sina.com.cn/s/blog_66dd17cd0102z1f3.html?tj=1" target="_blank">
                            <span>午评：港股拖A股下水，交投情绪极度低迷</span>
                        </a>
                    </li>
                    <li>
                        <i class="top-bg">1</i>
                        <a href="http://blog.sina.com.cn/s/blog_66dd17cd0102z1f3.html?tj=1" target="_blank">
                            <span>午评：港股拖A股下水，交投情绪极度低迷</span>
                        </a>
                    </li>
                    <li>
                        <i class="top-bg">1</i>
                        <a href="http://blog.sina.com.cn/s/blog_66dd17cd0102z1f3.html?tj=1" target="_blank">
                            <span>午评：港股拖A股下水，交投情绪极度低迷</span>
                        </a>
                    </li>
                    <li>
                        <i class="top-bg">1</i>
                        <a href="http://blog.sina.com.cn/s/blog_66dd17cd0102z1f3.html?tj=1" target="_blank">
                            <span>午评：港股拖A股下水，交投情绪极度低迷</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- 今日热文结束 -->
            <!-- 领域热文排行 -->
            <div class="hot-rank">
                <div class="l-title-1">
                    <i class="l-line"></i>
                    <h3><a href="http://blog.sina.com.cn/lm/rank/" target="_blank">领域热文排行</a></h3>
                    <i class="r-line"></i>
                </div>
                <ul class="tab">
                    <li data-index="0" class="active">娱乐</li>
                    <li data-index="1">文化</li>
                    <li data-index="2">感情</li>
                    <li data-index="3" class="last">图片</li>
                </ul>

                <!-- 娱乐 -->
                <ul class="art-list" data-sudaclick="blog_enthot">
                    <li>
                        <i class="top-bg">1</i>
                        <a href="http://blog.sina.com.cn/s/blog_64d61f9a0102zm3r.html?tj=1" target="_blank">
                            <span>郑恺和苗苗官宣“我们结婚了！”为啥惊动大半个娱乐圈？</span>
                        </a>
                    </li>
                    <li>
                        <i class="top-bg">2</i>
                        <a href="http://blog.sina.com.cn/s/blog_64d61f9a0102zm3r.html?tj=1" target="_blank">
                            <span>郑恺和苗苗官宣“我们结婚了！”为啥惊动大半个娱乐圈？</span>
                        </a>
                    </li>
                    <li>
                        <i class="top-bg">3</i>
                        <a href="http://blog.sina.com.cn/s/blog_64d61f9a0102zm3r.html?tj=1" target="_blank">
                            <span>郑恺和苗苗官宣“我们结婚了！”为啥惊动大半个娱乐圈？</span>
                        </a>
                    </li>
                    <li>
                        <i class="">4</i>
                        <a href="http://blog.sina.com.cn/s/blog_64d61f9a0102zm3r.html?tj=1" target="_blank">
                            <span>郑恺和苗苗官宣“我们结婚了！”为啥惊动大半个娱乐圈？</span>
                        </a>
                    </li>
                    <li>
                        <i class="">5</i>
                        <a href="http://blog.sina.com.cn/s/blog_64d61f9a0102zm3r.html?tj=1" target="_blank">
                            <span>郑恺和苗苗官宣“我们结婚了！”为啥惊动大半个娱乐圈？</span>
                        </a>
                    </li>
                </ul>
                <!-- 娱乐结束 -->
                <!-- 文化 -->
                <ul class="art-list" data-sudaclick="blog_culhot" style="display: none;">
                    <li>
                        <i class="top-bg">1</i>
                        <a href="http://blog.sina.com.cn/s/blog_490cd5c50102z9yo.html?tj=1" target="_blank">
                            <span>深入祁连山秘境：冰川、经幡和“日照金山”</span>
                        </a>
                    </li>
                    <li>
                        <i class="top-bg">2</i>
                        <a href="http://blog.sina.com.cn/s/blog_7e84ef460102zj00.html?tj=1" target="_blank">
                            <span>三国成事不足败事有余的谋士是谁</span>
                        </a>
                    </li>
                    <li>
                        <i class="top-bg">3</i>
                        <a href="http://blog.sina.com.cn/s/blog_4c45664e0102z1dg.html?tj=1" target="_blank">
                            <span>伟大的王后：她拯救了华夏文明，是上古时真正的传奇女子</span>
                        </a>
                    </li>
                    <li>
                        <i class="">4</i>
                        <a href="http://blog.sina.com.cn/s/blog_615fb6320102yq0i.html?tj=1" target="_blank">
                            <span>蒋谈廿四史（16）：司马穰苴从严治军不忘做个“暖男”</span>
                        </a>
                    </li>
                    <li>
                        <i class="">5</i>
                        <a href="http://blog.sina.com.cn/s/blog_4a015e940102z6g1.html?tj=1" target="_blank">
                            <span>汉唐士人如何看重朋友之义</span>
                        </a>
                    </li>
                </ul>
                <!-- 文化结束 -->
                <!-- 感情 -->
                <ul class="art-list" data-sudaclick="blog_eladieshot" style="display: none;">
                    <li>
                        <i class="top-bg">1</i>
                        <a href="http://blog.sina.com.cn/s/blog_5dec82bc0102yviv.html?tj=1" target="_blank">
                            <span>街拍：追求衣品上档次的套装美女</span>
                        </a>
                    </li>
                    <li>
                        <i class="top-bg">2</i>
                        <a href="http://blog.sina.com.cn/s/blog_96a249180102z7xv.html?tj=1" target="_blank">
                            <span>聪明人，为什么都在远离“朋友圈”？</span>
                        </a>
                    </li>
                    <li>
                        <i class="top-bg">3</i>
                        <a href="http://blog.sina.com.cn/s/blog_40a23f950102z3tl.html?tj=1" target="_blank">
                            <span>【大连】五月，英歌石植物园，浪漫在紫色花葱中！</span>
                        </a>
                    </li>
                    <li>
                        <i class="">4</i>
                        <a href="http://blog.sina.com.cn/s/blog_8f6043900102zzrn.html?tj=1" target="_blank">
                            <span>你老了吗？女人心理衰老的十大信号</span>
                        </a>
                    </li>
                    <li>
                        <i class="">5</i>
                        <a href="http://blog.sina.com.cn/s/blog_96a249180102z7xu.html?tj=1" target="_blank">
                            <span>40岁之后，无论男女多做这些事，人生只赚不亏</span>
                        </a>
                    </li>
                </ul>
                <!-- 感情结束 -->
                <!-- 图片 -->
                <ul class="art-list" data-sudaclick="blog_pichot" style="display: none;">
                    <li>
                        <i class="top-bg">1</i>
                        <a href="http://blog.sina.com.cn/s/blog_9603d7e00102vn73.html?tj=1" target="_blank">
                            <span>法国春日&nbsp;田园风光</span>
                        </a>
                    </li>
                    <li>
                        <i class="top-bg">2</i>
                        <a href="http://blog.sina.com.cn/s/blog_5dcf3a360102vs32.html?tj=1" target="_blank">
                            <span>【实拍】三清山岭头山村特色民俗：打糍粑</span>
                        </a>
                    </li>
                    <li>
                        <i class="top-bg">3</i>
                        <a href="http://blog.sina.com.cn/s/blog_4a8a80490102vqgz.html?tj=1" target="_blank">
                            <span>云南·玉龙雪山云杉坪,纳西族痴男怨女的殉情地</span>
                        </a>
                    </li>
                    <li>
                        <i class="">4</i>
                        <a href="http://blog.sina.com.cn/s/blog_45d46ca00102xlf4.html?tj=1" target="_blank">
                            <span>邂逅浪漫之都，开启海洋亲子“心”体验</span>
                        </a>
                    </li>
                    <li>
                        <i class="">5</i>
                        <a href="http://blog.sina.com.cn/s/blog_7be749530102vj5p.html?tj=1" target="_blank">
                            <span>行走湘西：夯沙赶集（下）</span>
                        </a>
                    </li>
                </ul>
                <!-- 图片结束 -->
            </div>
        </div>

        <div class="blog-container">
            <div>
                <div class="blog-center">
                    <!-- 滚动区域 -->
                    <div class="slider main-slider" data-sudaclick=focus_pic>
                        <ul>
                            <li>
                                <a href="http://blog.sina.com.cn/s/blog_6b2a745f0102z6ss.html?tj=1" target="_blank">
                                    <img width="640" height="410" src="http://n.sinaimg.cn/blog/250/w640h410/20200522/25df-itzixrs0826893.jpg" alt="全世界最危险的市场，竟建在铁路之上">
                                    <div class="bg">
                                        <p>全世界最危险的市场，竟建在铁路之上</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://blog.sina.com.cn/s/blog_5dec82bc0102yviv.html?tj=1" target="_blank">
                                    <img width="640" height="410" src="http://n.sinaimg.cn/blog/250/w640h410/20200522/fe35-itzixrs0776368.jpg" alt="街拍：穿套装的美女，时髦度up！">
                                    <div class="bg">
                                        <p>街拍：穿套装的美女，时髦度up！</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://blog.sina.com.cn/s/blog_5c91c4f50102zcbf.html?tj=1" target="_blank">
                                    <img width="640" height="410" src="http://n.sinaimg.cn/blog/250/w640h410/20200522/a4a3-itzixrs0896184.jpg" alt="走进京城最美书店，阅读空间宛若太虚幻境">
                                    <div class="bg">
                                        <p>走进京城最美书店，阅读空间宛若太虚幻境</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://blog.sina.com.cn/s/blog_88523e890102yzhd.html?tj=1" target="_blank">
                                    <img width="640" height="410" src="http://n.sinaimg.cn/blog/250/w640h410/20200522/1477-itzixrs0837200.jpg" alt="初夏杭州最美花海！绣球花开满山坡">
                                    <div class="bg">
                                        <p>初夏杭州最美花海！绣球花开满山坡</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://blog.sina.com.cn/s/blog_4502e2870102zg7q.html?tj=1" target="_blank">
                                    <img width="640" height="410" src="http://n.sinaimg.cn/blog/250/w640h410/20200522/c7ee-itzixrs0762812.jpg" alt="葱油饼，咬了一口就停不下来">
                                    <div class="bg">
                                        <p>葱油饼，咬了一口就停不下来</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <a class="left-arr" suda-uatrack="key=2018_blog_index&value=focus_slide" href="javascript:void(0);"></a>
                        <a class="right-arr" suda-uatrack="key=2018_blog_index&value=focus_slide" href="javascript:void(0);"></a>
                    </div>
                    <!-- 滚动区域结束 -->
                    <!-- 重点推荐区域 -->
                    <div class="blog-news" data-sudaclick="top_headline">
                        <div class="focus">
                            <div class="label">
                                <p class="label1">聚</p>
                                <p class="label2">焦</p>
                            </div>
                            <h2><a href="http://blog.sina.com.cn/s/blog_7964e4ec0102zhoz.html?tj=1" target="_blank">郑恺官宣结婚，他为何会舍弃富二代程晓玥，跟苗苗闪婚</a></h2>
                            <p class="normal"><a href="http://search.sina.com.cn/?c=blog&q=%E8%8B%97%E8%8B%97&by=article&sort=time" target="_blank">热评</a> <a class="border-left" href="http://blog.sina.com.cn/s/blog_64d61f9a0102zm3r.html?tj=1" target="_blank">为啥惊动大半个娱乐圈？</a> <a class="border-left" href="http://blog.sina.com.cn/s/blog_c1d40bc40102z56o.html?tj=1" target="_blank">婚姻幸福与恋爱时间有关系吗？</a></p>
                        </div>
                        <ul class="art-list">

                            <li>
                                <span class="num">01</span>
                                <a href="http://blog.sina.com.cn/s/blog_4870bbec0102z7xf.html?tj=1" target="_blank" class="liveNewsLeft">胡曼荻美国疫志：云课堂也有高端低端，教育资源倾斜精英教育</a>
                            </li>
                            <li>
                                <span class="num">02</span>
                                <a href="http://blog.sina.com.cn/s/blog_4870bbec0102z7xf.html?tj=1" target="_blank" class="liveNewsLeft">胡曼荻美国疫志：云课堂也有高端低端，教育资源倾斜精英教育</a>
                            </li>
                            <li>
                                <span class="num">03</span>
                                <a href="http://blog.sina.com.cn/s/blog_4870bbec0102z7xf.html?tj=1" target="_blank" class="liveNewsLeft">胡曼荻美国疫志：云课堂也有高端低端，教育资源倾斜精英教育</a>
                            </li>
                            <li>
                                <span class="num">04</span>
                                <a href="http://blog.sina.com.cn/s/blog_4870bbec0102z7xf.html?tj=1" target="_blank" class="liveNewsLeft">胡曼荻美国疫志：云课堂也有高端低端，教育资源倾斜精英教育</a>
                            </li>

                        </ul>
                    </div>
                    <!-- 重点推荐区域结束 -->
                    <!-- 图片精选&博友原创 -->
                    <div class="img-rec">
                        <ul class="tab">
                            <li class="active">
                                <h3><a href="//blog.sina.com.cn/lm/pic/" suda-uatrack="key=2018_blog_index&value=pic_tab_01" target="_blank">图片精选</a></h3>
                                <i class="arrow"></i>
                            </li>
                            <li class="more">
                                <a suda-uatrack="key=2018_blog_index&value=pic_more" href="//blog.sina.com.cn/lm/pic/" target="_blank">更多</a>
                            </li>
                        </ul>
                        <div class="img-slider">
                            <ul>
                                <li data-sudaclick=blog_pic_01>
                                    <div class="clearfix">
                                        <div class="art-img">
                                            <a href="http://blog.sina.com.cn/s/blog_686fada30102z350.html?tj=1" target="_blank">
                                                <img src="http://n.sinaimg.cn/blog/335/w200h135/20200522/3b98-itzixrs1019683.jpg" alt="我镜头中的大美新疆">
                                            </a>
                                            <p>
                                                <a href="http://blog.sina.com.cn/s/blog_686fada30102z350.html?tj=1" target="_blank">我镜头中的大美新疆</a>
                                            </p>
                                        </div>
                                        <div class="art-img">
                                            <a href="http://blog.sina.com.cn/s/blog_686fada30102z350.html?tj=1" target="_blank">
                                                <img src="http://n.sinaimg.cn/blog/335/w200h135/20200522/3b98-itzixrs1019683.jpg" alt="我镜头中的大美新疆">
                                            </a>
                                            <p>
                                                <a href="http://blog.sina.com.cn/s/blog_686fada30102z350.html?tj=1" target="_blank">我镜头中的大美新疆</a>
                                            </p>
                                        </div>
                                        <div class="art-img last">
                                            <a href="http://blog.sina.com.cn/s/blog_686fada30102z350.html?tj=1" target="_blank">
                                                <img src="http://n.sinaimg.cn/blog/335/w200h135/20200522/3b98-itzixrs1019683.jpg" alt="我镜头中的大美新疆">
                                            </a>
                                            <p>
                                                <a href="http://blog.sina.com.cn/s/blog_686fada30102z350.html?tj=1" target="_blank">我镜头中的大美新疆</a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="art-img">
                                            <a href="http://blog.sina.com.cn/s/blog_686fada30102z350.html?tj=1" target="_blank">
                                                <img src="http://n.sinaimg.cn/blog/335/w200h135/20200522/3b98-itzixrs1019683.jpg" alt="我镜头中的大美新疆">
                                            </a>
                                            <p>
                                                <a href="http://blog.sina.com.cn/s/blog_686fada30102z350.html?tj=1" target="_blank">我镜头中的大美新疆</a>
                                            </p>
                                        </div>
                                        <div class="art-img">
                                            <a href="http://blog.sina.com.cn/s/blog_686fada30102z350.html?tj=1" target="_blank">
                                                <img src="http://n.sinaimg.cn/blog/335/w200h135/20200522/3b98-itzixrs1019683.jpg" alt="我镜头中的大美新疆">
                                            </a>
                                            <p>
                                                <a href="http://blog.sina.com.cn/s/blog_686fada30102z350.html?tj=1" target="_blank">我镜头中的大美新疆</a>
                                            </p>
                                        </div>
                                        <div class="art-img last">
                                            <a href="http://blog.sina.com.cn/s/blog_686fada30102z350.html?tj=1" target="_blank">
                                                <img src="http://n.sinaimg.cn/blog/335/w200h135/20200522/3b98-itzixrs1019683.jpg" alt="我镜头中的大美新疆">
                                            </a>
                                            <p>
                                                <a href="http://blog.sina.com.cn/s/blog_686fada30102z350.html?tj=1" target="_blank">我镜头中的大美新疆</a>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- 图片精选&博友原创结束 -->
                </div>
                <div class="blog-right">
                    <!-- 登录信息 -->
                    <div class="login-info" data-sudaclick=blog_user>
                        <div class="not-login">
                            <p>金文博友，欢迎回来！</p>
                            <input id="loginName" type="text" autocomplete="off" placeholder="请输入账号">
                            <div class="mail-list">
                                <span>请选择登录类型</span>
                                <ul>
                                    <li class="active"><span>jjjj</span></li>
                                    <li class=><span>jjjj</span></li>
                                </ul>
                            </div>
                            <input id="loginPassword" type="password" autocomplete="off" placeholder="请输入密码">
                            <div class="btn-row">
                                <div class="jfl">
                                    <a id="submit-btn" suda-uatrack="key=2018_blog_index&value=my_signin" class="login-btn" href="javascript:void(0);">登录</a>
                                </div>
                                <div class="jfr">
                                    <input suda-uatrack="key=2018_blog_index&value=my_signin_save" id="auto" value="true" type="checkbox" name="auto">
                                    <label suda-uatrack="key=2018_blog_index&value=my_signin_save" for="auto"><span>下次自动登录</span></label>
                                </div>
                            </div>
                            <div class="other-btns">
                                <a class="jfl" suda-uatrack="key=2018_blog_index&value=my_register" href="https://login.sina.com.cn/signup/signup?entry=blog&src=tech" target="_blank">立即注册</a>
                                <a class="jfl ml12" suda-uatrack="key=2018_blog_index&value=my_forgetpwd" href="https://security.weibo.com/iforgot/loginname?entry=blog" target="_blank">忘记密码</a>
                                <a class="jfr" suda-uatrack="key=2018_blog_index&value=my_help" href="http://help.sina.com.cn/index.php?s=commonquestion&a=subview&productid=1" target="_blank">帮助中心</a>
                            </div>
                        </div>
                        <div class="logined">
                        </div>
                    </div>
                    <!-- 登录信息结束 -->
                    <!-- 每日图说 -->
                    <div class="b-img-talk" data-sudaclick=blog_pic_03>
                        <h3>
                            <a href="http://blog.sina.com.cn/lm/pic/" target="_blank">每日图说</a>
                            <a class="more" href="http://blog.sina.com.cn/lm/pic/" target="_blank"></a>
                        </h3>
                        <a href="http://blog.sina.com.cn/s/blog_7115eb140102z2dg.html?tj=1" target="_blank">
                            <img src="http://n.sinaimg.cn/blog/520/w320h200/20200522/75b9-itzixrs0926870.jpg" />
                        </a>
                        <p class="title">
                            <a href="http://blog.sina.com.cn/s/blog_7115eb140102z2dg.html?tj=1" target="_blank">陈奕迅最爱的华星冰室长啥样</a>
                        </p>
                        <p class="des">
                            <a href="http://blog.sina.com.cn/s/blog_7115eb140102z2dg.html?tj=1" target="_blank">陈奕迅曾说，没有来过华星冰室，就等于没有来过香港。谭咏麟陈百祥也这家餐厅的忠实粉丝…</a>
                        </p>
                    </div>
                    <!-- 每日图说结束 -->
                </div>
            </div>

            <div class="clearfix">
                <div class="blog-center">
                    <!-- feed start -->
                    <script type="text/javascript">
                        //TODO: 全局feed对象 信息
                        var FEED_CARD_INFO = {
                            //feed 的pageid
                            pageId: 143,
                            num: 30,//feed 单次请求长度
                            ctime: null,
                            feedWidth: 640,//feed展示宽度
                            imgMargin: 8,//组图中的图片左右间距
                            //兴趣设置参数
                            subCateID: 100,//只有这个来记录用户订阅的顺序
                            //固定首个位置
                            firstTab: {
                                txt: '全部',
                                lid: 3108
                            },
                            //默认
                            tabs: [3108, 3088, 3089, 3090, 3091, 3092, 3093],
                            //全部
                            allTabs: [3108, 3088, 3089, 3090, 3091, 3092, 3093, 3094, 3095, 3096, 3097, 3098, 3099, 3100, 3101, 3102, 3103, 3104, 3105, 3106, 3107],
                            tabInfos: {
                                tab_3088: {
                                    txt: '历史',
                                    lid: 3088
                                },
                                tab_3089: {
                                    txt: '文化',
                                    lid: 3089
                                },
                                tab_3090: {
                                    txt: '旅游',
                                    lid: 3090
                                },
                                tab_3091: {
                                    txt: '娱乐',
                                    lid: 3091
                                },
                                tab_3092: {
                                    txt: '美食',
                                    lid: 3092
                                },
                                tab_3093: {
                                    txt: '情感',
                                    lid: 3083
                                },
                                tab_3094: {
                                    txt: '摄影',
                                    lid: 3094
                                },
                                tab_3095: {
                                    txt: '生活',
                                    lid: 3095
                                },
                                tab_3096: {
                                    txt: '时事',
                                    lid: 3096
                                },
                                tab_3097: {
                                    txt: '健康',
                                    lid: 3097
                                },
                                tab_3098: {
                                    txt: '时尚',
                                    lid: 3098
                                },
                                tab_3099: {
                                    txt: '育儿',
                                    lid: 3099
                                },
                                tab_3100: {
                                    txt: '科普',
                                    lid: 3100
                                },
                                tab_3101: {
                                    txt: '教育',
                                    lid: 3101
                                },
                                tab_3102: {
                                    txt: '星座',
                                    lid: 3102
                                },
                                tab_3103: {
                                    txt: '财经',
                                    lid: 3103
                                },
                                tab_3104: {
                                    txt: '体育',
                                    lid: 3104
                                },
                                tab_3105: {
                                    txt: '科技',
                                    lid: 3105
                                },
                                tab_3106: {
                                    txt: '社会',
                                    lid: 3106
                                },
                                tab_3107: {
                                    txt: '动漫',
                                    lid: 3107
                                }
                            }
                        }
                    </script>
                    <div id="feed" class="feed">
                        <div id="flex-nav" class="flex-nav" data-sudaclick=feed_nav>
                            <div class="feed-nav">
                                <ul id="feed-top-nav" class="feed-top-nav">
                                    <li class="active">
                                        <a href="javascript(0);">全部</a>
                                    </li>
                                    <li class="">
                                        <a href="javascript(0);">娱乐</a>
                                    </li>
                                    <li class="">
                                        <a href="javascript(0);">情感</a>
                                    </li>
                                    <li class="">
                                        <a href="javascript(0);">体育</a>
                                    </li>
                                </ul>
                                <div class="more">
                                    <span>更多</span><i></i>
                                    <ul class="other">
                                    </ul>
                                </div>
                                <div class="feed-interest">
                                    <a data-is-Open='0' id="feed-interest-btn" suda-uatrack="key=2018_blog_index&value=float_setting" href="javascript:void(0);"><i></i><span>兴趣设置</span></a>
                                    <div class="feed-sec-menu" data-sudaclick=float_setting_all>
                                        <a class="btn edit" href="javascript:void(0);">编辑</a>
                                        <a style="display: none;" class="btn save" href="javascript:void(0);">完成</a>
                                        <div class="drag">
                                            <p class="title">我的兴趣</p>
                                            <p class="msg">拖拽可以对兴趣标签进行排序</p>
                                            <div class="drag-container">

                                            </div>
                                            <div class="line"></div>
                                        </div>

                                        <div class="to-add">
                                            <p class="msg">点击选中可对兴趣标签进行添加</p>
                                            <div class="to-add-list">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="feed-list" data-sudaclick="blog_feed">
                        </ul>
                        <div class="feed-loading">
                            <span>加载中</span>
                        </div>
                        <div class="feed-end">
                            <span>没有新的文章了，请看看其他频道吧！</span>
                        </div>
                    </div>
                    <!-- feed end -->
                </div>
                <div class="blog-right fix-blog-right">
                    <div class="channel" data-sudaclick=rcmd_cul>
                        <h3>大话历史</h3>
                        <div class="title">
                            <a class="dahualishi" href="http://blog.sina.com.cn/lm/history/" target="_blank"></a>
                            <a class="more" href="http://blog.sina.com.cn/lm/history/" target="_blank"></a>
                        </div>
                        <ul>
                            <li>
                                <i></i>
                                <a href="http://blog.sina.com.cn/s/blog_185dec9b20102z5t3.html?tj=1" target="_blank">那些年雍正说过的土味情话</a>
                            </li>
                            <li>
                                <i></i>
                                <a href="http://blog.sina.com.cn/s/blog_185dec9b20102z5t3.html?tj=1" target="_blank">那些年雍正说过的土味情话</a>
                            </li>
                            <li>
                                <i></i>
                                <a href="http://blog.sina.com.cn/s/blog_185dec9b20102z5t3.html?tj=1" target="_blank">那些年雍正说过的土味情话</a>
                            </li>
                            <li>
                                <i></i>
                                <a href="http://blog.sina.com.cn/s/blog_185dec9b20102z5t3.html?tj=1" target="_blank">那些年雍正说过的土味情话</a>
                            </li>
                        </ul>
                    </div>
                    <div class="channel" data-sudaclick=rcmd_ent>
                        <h3>娱乐咖</h3>
                        <div class="title">
                            <a class="yuleka" href="http://blog.sina.com.cn/lm/ent/" target="_blank"></a>
                            <a class="more" href="http://blog.sina.com.cn/lm/ent/" target="_blank"></a>
                        </div>
                        <ul>
                            <li>
                                <i></i>
                                <a href="http://blog.sina.com.cn/s/blog_8b2431a10102zb6g.html?tj=1" target="_blank">《疯狂的麦咭7》脸脸拜师赵文卓《庆余年》九品高</a>
                            </li>
                            <li>
                                <i></i>
                                <a href="http://blog.sina.com.cn/s/blog_8b2431a10102zb6g.html?tj=1" target="_blank">《疯狂的麦咭7》脸脸拜师赵文卓《庆余年》九品高</a>
                            </li>
                            <li>
                                <i></i>
                                <a href="http://blog.sina.com.cn/s/blog_8b2431a10102zb6g.html?tj=1" target="_blank">《疯狂的麦咭7》脸脸拜师赵文卓《庆余年》九品高</a>
                            </li>
                            <li>
                                <i></i>
                                <a href="http://blog.sina.com.cn/s/blog_8b2431a10102zb6g.html?tj=1" target="_blank">《疯狂的麦咭7》脸脸拜师赵文卓《庆余年》九品高</a>
                            </li>
                        </ul>
                    </div>
                    <div class="channel" data-sudaclick=rcmd_travel>
                        <h3>爱旅行</h3>
                        <div class="title">
                            <a class="ailvxing" href="http://blog.sina.com.cn/lm/travel/" target="_blank"></a>
                            <a class="more" href="http://blog.sina.com.cn/lm/travel/" target="_blank"></a>
                        </div>
                        <ul>
                            <li>
                                <i></i>
                                <a href="http://blog.sina.com.cn/s/blog_40a23f950102z3tl.html?tj=1" target="_blank">五月，英歌石植物园，浪漫在紫色花葱中！</a>
                            </li>
                            <li>
                                <i></i>
                                <a href="http://blog.sina.com.cn/s/blog_40a23f950102z3tl.html?tj=1" target="_blank">五月，英歌石植物园，浪漫在紫色花葱中！</a>
                            </li>
                            <li>
                                <i></i>
                                <a href="http://blog.sina.com.cn/s/blog_40a23f950102z3tl.html?tj=1" target="_blank">五月，英歌石植物园，浪漫在紫色花葱中！</a>
                            </li>
                            <li>
                                <i></i>
                                <a href="http://blog.sina.com.cn/s/blog_40a23f950102z3tl.html?tj=1" target="_blank">五月，英歌石植物园，浪漫在紫色花葱中！</a>
                            </li>
                        </ul>
                    </div>
                    <div class="channel" data-sudaclick=rcmd_eat>
                        <h3>美食家</h3>
                        <div class="title">
                            <a class="meishijia" href="http://blog.sina.com.cn/lm/eatblog.html" target="_blank"></a>
                            <a class="more" href="http://blog.sina.com.cn/lm/eatblog.html" target="_blank"></a>
                        </div>
                        <ul>
                            <li>
                                <i></i>
                                <a href="http://blog.sina.com.cn/s/blog_48489ba10102yhrh.html?tj=1" target="_blank">逛巴西普通老百姓的超市</a>
                            </li>
                            <li>
                                <i></i>
                                <a href="http://blog.sina.com.cn/s/blog_48489ba10102yhrh.html?tj=1" target="_blank">逛巴西普通老百姓的超市</a>
                            </li>
                            <li>
                                <i></i>
                                <a href="http://blog.sina.com.cn/s/blog_48489ba10102yhrh.html?tj=1" target="_blank">逛巴西普通老百姓的超市</a>
                            </li>
                            <li>
                                <i></i>
                                <a href="http://blog.sina.com.cn/s/blog_48489ba10102yhrh.html?tj=1" target="_blank">逛巴西普通老百姓的超市</a>
                            </li>
                        </ul>
                    </div>
                    <div class="channel" data-sudaclick=rcmd_baby>
                        <h3>育儿课堂</h3>
                        <div class="title">
                            <a class="yuerketang" href="http://blog.baby.sina.com.cn/lm/baby/" target="_blank"></a>
                            <a class="more" href="http://blog.baby.sina.com.cn/lm/baby/" target="_blank"></a>
                        </div>
                        <ul>
                            <li>
                                <i></i>
                                <a href="http://blog.sina.com.cn/s/blog_5ede64dd0102zj2b.html?tj=1" target="_blank">宝宝长了鹅口疮怎么办？</a>
                            </li>
                            <li>
                                <i></i>
                                <a href="http://blog.sina.com.cn/s/blog_5ede64dd0102zj2b.html?tj=1" target="_blank">宝宝长了鹅口疮怎么办？</a>
                            </li>
                            <li>
                                <i></i>
                                <a href="http://blog.sina.com.cn/s/blog_5ede64dd0102zj2b.html?tj=1" target="_blank">宝宝长了鹅口疮怎么办？</a>
                            </li>
                            <li>
                                <i></i>
                                <a href="http://blog.sina.com.cn/s/blog_5ede64dd0102zj2b.html?tj=1" target="_blank">宝宝长了鹅口疮怎么办？</a>
                            </li>
                        </ul>
                    </div>
                    <div class="channel" data-sudaclick=rcmd_astro>
                        <h3>星座达人</h3>
                        <div class="title">
                            <a class="xingzuodaren" href="http://blog.sina.com.cn/lm/astro/" target="_blank"></a>
                            <a class="more" href="http://blog.sina.com.cn/lm/astro/" target="_blank"></a>
                        </div>
                        <ul>
                            <li>
                                <i></i>
                                <a href="http://blog.sina.com.cn/s/blog_140ccdb040102z8hw.html?tj=1" target="_blank">最容易“花心出轨”的几种男生</a>
                            </li>
                            <li>
                                <i></i>
                                <a href="http://blog.sina.com.cn/s/blog_140ccdb040102z8hw.html?tj=1" target="_blank">最容易“花心出轨”的几种男生</a>
                            </li>
                            <li>
                                <i></i>
                                <a href="http://blog.sina.com.cn/s/blog_140ccdb040102z8hw.html?tj=1" target="_blank">最容易“花心出轨”的几种男生</a>
                            </li>
                            <li>
                                <i></i>
                                <a href="http://blog.sina.com.cn/s/blog_140ccdb040102z8hw.html?tj=1" target="_blank">最容易“花心出轨”的几种男生</a>
                            </li>
                        </ul>
                    </div>
                    <div class="channel" data-sudaclick=rcmd_stock>
                        <h3>股评师</h3>
                        <div class="title">
                            <a class="gupingshi" href="http://blog.sina.com.cn/lm/stock/" target="_blank"></a>
                            <a class="more" href="http://blog.sina.com.cn/lm/stock/" target="_blank"></a>
                        </div>
                        <ul>
                            <li>
                                <i></i>
                                <a href="http://blog.sina.com.cn/s/blog_4c3036750102zm1b.html?tj=1" target="_blank">调整有望延续到6月初</a>
                            </li>
                            <li>
                                <i></i>
                                <a href="http://blog.sina.com.cn/s/blog_4c3036750102zm1b.html?tj=1" target="_blank">调整有望延续到6月初</a>
                            </li>
                            <li>
                                <i></i>
                                <a href="http://blog.sina.com.cn/s/blog_4c3036750102zm1b.html?tj=1" target="_blank">调整有望延续到6月初</a>
                            </li>
                            <li>
                                <i></i>
                                <a href="http://blog.sina.com.cn/s/blog_4c3036750102zm1b.html?tj=1" target="_blank">调整有望延续到6月初</a>
                            </li>
                        </ul>
                    </div>

                    <!-- 历史回顾 -->
                    <div class="time-go-back" data-sudaclick=blog_history>
                        <h3 class="title">回顾</h3>
                        <div class="clearfix">
                            <div class="date">
                                <i></i>
                                <input id="history-picker" type="text" placeholder="点击选择日期">
                            </div>
                            <div class="time active" data-val="am">
                                <span>9:00</span><i></i>
                                <ul>
                                    <li data-val="am">9:00</li>
                                    <li data-val="pm">21:00</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- 历史回顾结束 -->
                    <!-- 金文相关信息 -->
                    <div class="company-info" data-sudaclick=footer>
                        <div class="box">
                            <p class="tag"><i class="t0"></i><a href="#" target="_blank">著作权/JinWen</a></p>
                            <p class="tag "><i class="t1"></i><a href="#" target="_blank">金文博客意见反馈留言板</a></p>
                            <p class="tag "><i class="t2"></i>888-888-8888 欢迎批评指正</p>
                        </div>
                        <ul>
                            <li>
                                <a href="#" target="_blank">金文简介</a>
                                <a href="#" target="_blank">广告服务</a>
                                <a href="#" target="_blank">About JinWen</a>
                            </li>
                            <li>
                                <a href="#" target="_blank">联系我们</a>
                                <a href="#" target="_blank">招聘信息</a>
                                <a href="#" target="_blank">通行证注册</a>
                            </li>
                            <li>
                                <a href="#" target="_blank">产品答疑</a>
                                <a href="#" target="_blank">网站律师</a>
                                <a href="#" target="_blank">SINA English</a>
                            </li>
                        </ul>
                        <div class="box">
                            <p style="letter-spacing:0.4px;">JinWen © 1996-2018 JinWen Corporation</p>
                            <p>金文项目小组 <a href="#" target="_blank">版权所有</a></p>
                        </div>
                    </div>
                    <!-- 金文相关信息结束 -->
                </div>
            </div>
        </div>
    </div>
    <!-- 主体内容结束 -->


</body>
</html>
